.hauteur {
  height: 100vh;
}
.mi-hauteur {
  height: 50vh;
}
.hauteur65 {
  height: 65%;
}
.hauteur75 {
  height: 75%;
}
.hauteur85 {
  height: 85%;
}
.hauteur100 {
  height: 100%;
}
.minwidth25 {
  width: 25px;
}
.minHeight {
  min-height: 50px;
}
.minHeight25 {
  height: 25px;
}
.minHeight30 {
  height: 30px;
}
.stopPadMarg {
  padding: 0;
  margin: 0;
}
.largeur80 {
  width: 80%;
}
.largeur95 {
  width: 95%;
}
.largeur100 {
  width: 100%;
}
.texte {
  overflow-wrap: break-word;
}
.cube100 {
  width: 100px;
  height: 100px;
}
.cubeImage {
  width: 35em;
  height: 20em;
}
.m10 {
  margin: 10%;
}
.opacity {
  opacity: 0.5;
}
.stopOpac {
  opacity: 1;
}
.bordureProfil {
  border: 3mm ridge #ffd7d7ff;
}
.bordurePost {
  border: 1.5mm ridge #ffd7d7ff;
}
.bordureRond {
  border-radius: 1em;
}
.backPrimaire {
  background-color: rgb(253, 236, 236);
}
